<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spectrogram - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Spectrogram - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Spectrogram - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Spectrogram - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Spectrogram - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A66B0A9E060074B0E8AC08F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23B019E3AAB3C48C253AC677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D272CB51B07F24E725FA82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B06BFF5F284361C6D45CF47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A250DD9A4D84FEDC2C601C95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
